{% extends "base.html" %}
{% block title %}
	overview 
{% endblock %}
{% block content %}
	<div class="container dev-apps" id="dev_apps_container">
		<div class="row head">
			<div class="col-xs-11 ">
				<h1>Development Apps (11)</h1>	
			</div>
			<div class="col-xs-1">
				<button class ="btn dev-apps-btn"><span class="glyphicon glyphicon-chevron-up"></span></button>	
			</div>
			
		</div>


		<div class="content">
			<div class="row search_form">
				<div class="col-xs-8"></div>
				<div class="col-xs-3 ">
					<form action="">
					  <div class="form-group">
						   <input type="text" class="form-control dev_apps_search" id="InputText" placeholder="Search">
					  </div>
					</form>
				</div>
				<div class="col-xs-1"></div>
			</div>
			
			<div class="row">
				<div class="col-xs-11 total-content">	
					<div class="data-height">
					<div class="row content_row">
						
						<div class="col-md-6 app_box">
							<a href="" class="app_link">
							<div class="app_content">
								<div class="row app_head text-center"><h4>Application 1</h4></div>
								<div class="row app_data">
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head">
												<th>Package Details</th>
												<th></th>
												<th></th>
											</thead>	
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
												<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
											</tbody>
											
										</table>	
									</div>
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head"><tr><th>Usage Details</th><th></th>
												<th></th></tr></thead>
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
												<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
											</tbody>	
										</table>
									</div>
									
								
								
								
								</div>
							</div>
							</a>
						</div>
						<div class="col-md-6 app_box">
							<div class="app_content">
								<div class="row app_head text-center"><h4>Application 1</h4></div>
								<div class=" row">
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head">
												<th>Package Details</th>
												<th></th>
												<th></th>
											</thead>	
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
												<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
											</tbody>
											
										</table>	
									</div>
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head"><tr><th>Usage Details</th><th></th>
												<th></th></tr></thead>
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
												<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
											</tbody>	
										</table>
									</div>
									
								
								
								
								</div>
							</div>
						</div>								
					</div>
					<div class="row content_row">
						
						<div class="col-md-6 app_box">
							<div class="app_content">
								<div class="row app_head text-center"><h4>Application 1</h4></div>
								<div class=" row">
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head">
												<th>Package Details</th>
												<th></th>
												<th></th>
											</thead>	
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
												<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
											</tbody>
											
										</table>	
									</div>
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head"><tr><th>Usage Details</th><th></th>
												<th></th></tr></thead>
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
												<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
											</tbody>	
										</table>
									</div>
									
								
								
								
								</div>
							</div>
						</div>
						<div class="col-md-6 app_box">
							<div class="app_content">
								<div class="row app_head text-center"><h4>Application 1</h4></div>
								<div class=" row">
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head">
												<th>Package Details</th>
												<th></th>
												<th></th>
											</thead>	
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
												<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
											</tbody>
											
										</table>	
									</div>
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head"><tr><th>Usage Details</th><th></th>
												<th></th></tr></thead>
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
												<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
											</tbody>	
										</table>
									</div>
									
								
								
								
								</div>
							</div>
						</div>								
					</div>
					<div class="row content_row">
						
						<div class="col-md-6 app_box">
							<div class="app_content">
								<div class="row app_head text-center"><h4>Application 1</h4></div>
								<div class=" row">
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head">
												<th>Package Details</th>
												<th></th>
												<th></th>
											</thead>	
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
												<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
											</tbody>
											
										</table>	
									</div>
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head"><tr><th>Usage Details</th><th></th>
												<th></th></tr></thead>
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
												<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
											</tbody>	
										</table>
									</div>
									
								
								
								
								</div>
							</div>
						</div>
						<div class="col-md-6 app_box">
							<div class="app_content">
								<div class="row app_head text-center"><h4>Application 1</h4></div>
								<div class=" row">
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head">
												<th>Package Details</th>
												<th></th>
												<th></th>
											</thead>	
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
												<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
											</tbody>
											
										</table>	
									</div>
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head"><tr><th>Usage Details</th><th></th>
												<th></th></tr></thead>
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
												<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
											</tbody>	
										</table>
									</div>
									
								
								
								
								</div>
							</div>
						</div>								
					</div>
					<div class="row content_row">
						
						<div class="col-md-6 app_box">
							<div class="app_content">
								<div class="row app_head text-center"><h4>Application 1</h4></div>
								<div class=" row">
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head">
												<th>Package Details</th>
												<th></th>
												<th></th>
											</thead>	
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
												<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
											</tbody>
											
										</table>	
									</div>
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head"><tr><th>Usage Details</th><th></th>
												<th></th></tr></thead>
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
												<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
											</tbody>	
										</table>
									</div>
									
								
								
								
								</div>
							</div>
						</div>
						<div class="col-md-6 app_box">
							<div class="app_content">
								<div class="row app_head text-center"><h4>Application 1</h4></div>
								<div class=" row">
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head">
												<th>Package Details</th>
												<th></th>
												<th></th>
											</thead>	
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
												<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
											</tbody>
											
										</table>	
									</div>
									<div class="col-xs-6">
										<table class="table table-condensed">
											<thead class="sec-head"><tr><th>Usage Details</th><th></th>
												<th></th></tr></thead>
											<tbody>
												<tr><td>Devices</td><td>:</td><td>10</td></tr>
												<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
												<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
											</tbody>	
										</table>
									</div>
									
								
								
								
								</div>
							</div>
						</div>								
					</div>	
					</div>
				</div>
				<div class="col-xs-1" style="height:400px;" >
					<div class="dev-vertical-slider" ></div>
					</div>
					
				</div>			
			</div>
		</div>	
	</div>

	<div class="container prod-apps" id="prod_apps_container">
		<div class="row head">
			<div class="col-xs-11 ">
				<h1>Production Apps (3)</h1>	
			</div>
			<div class="col-xs-1">
				<button class ="btn prod_apps_btn"><span class="glyphicon glyphicon-chevron-up"></span></button>	
			</div>
			
		</div>


		<div class="prod-content content">
 			<div class="row search_form">
				<div class="col-xs-8"></div>
				<div class="col-xs-3 ">
					<form action="">
					  <div class="form-group">
						   <input type="text" class="form-control prod_apps_search" id="InputText" placeholder="Search">
					  </div>
					</form>
				</div>
				<div class="col-xs-1"></div>
			</div>
			
			<div class="row">
				<div class="col-xs-11 total-content">	
					<div class="data-height">
						<div class="row content_row">
							
							<div class="col-md-6 app_box">
								<a href="" class="app_link">
								<div class="app_content">
									<div class="row app_head text-center"><h4>Application 1</h4></div>
									<div class="row app_data">
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head">
													<th>Package Details</th>
													<th></th>
													<th></th>
												</thead>	
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
													<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
												</tbody>
												
											</table>	
										</div>
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head"><tr><th>Usage Details</th><th></th>
													<th></th></tr></thead>
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
													<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
												</tbody>	
											</table>
										</div>
										
									
									
									
									</div>
								</div>
								</a>
							</div>
							<div class="col-md-6 app_box">
								<div class="app_content">
									<div class="row app_head text-center"><h4>Application 1</h4></div>
									<div class=" row">
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head">
													<th>Package Details</th>
													<th></th>
													<th></th>
												</thead>	
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
													<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
												</tbody>
												
											</table>	
										</div>
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head"><tr><th>Usage Details</th><th></th>
													<th></th></tr></thead>
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
													<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
												</tbody>	
											</table>
										</div>
										
									
									
									
									</div>
								</div>
							</div>								
						</div>
						<div class="row content_row">
							
							<div class="col-md-6 app_box">
								<div class="app_content">
									<div class="row app_head text-center"><h4>Application 1</h4></div>
									<div class=" row">
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head">
													<th>Package Details</th>
													<th></th>
													<th></th>
												</thead>	
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
													<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
												</tbody>
												
											</table>	
										</div>
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head"><tr><th>Usage Details</th><th></th>
													<th></th></tr></thead>
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
													<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
												</tbody>	
											</table>
										</div>
										
									
									
									
									</div>
								</div>
							</div>
							<div class="col-md-6 app_box">
								<div class="app_content">
									<div class="row app_head text-center"><h4>Application 1</h4></div>
									<div class=" row">
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head">
													<th>Package Details</th>
													<th></th>
													<th></th>
												</thead>	
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
													<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
												</tbody>
												
											</table>	
										</div>
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head"><tr><th>Usage Details</th><th></th>
													<th></th></tr></thead>
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
													<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
												</tbody>	
											</table>
										</div>
										
									
									
									
									</div>
								</div>
							</div>								
						</div>
						<div class="row content_row">
							
							<div class="col-md-6 app_box">
								<div class="app_content">
									<div class="row app_head text-center"><h4>Application 1</h4></div>
									<div class=" row">
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head">
													<th>Package Details</th>
													<th></th>
													<th></th>
												</thead>	
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
													<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
												</tbody>
												
											</table>	
										</div>
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head"><tr><th>Usage Details</th><th></th>
													<th></th></tr></thead>
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
													<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
												</tbody>	
											</table>
										</div>
										
									
									
									
									</div>
								</div>
							</div>
							<div class="col-md-6 app_box">
								<div class="app_content">
									<div class="row app_head text-center"><h4>Application 1</h4></div>
									<div class=" row">
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head">
													<th>Package Details</th>
													<th></th>
													<th></th>
												</thead>	
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
													<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
												</tbody>
												
											</table>	
										</div>
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head"><tr><th>Usage Details</th><th></th>
													<th></th></tr></thead>
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
													<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
												</tbody>	
											</table>
										</div>
										
									
									
									
									</div>
								</div>
							</div>								
						</div>
						<div class="row content_row">
							
							<div class="col-md-6 app_box">
								<div class="app_content">
									<div class="row app_head text-center"><h4>Application 1</h4></div>
									<div class=" row">
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head">
													<th>Package Details</th>
													<th></th>
													<th></th>
												</thead>	
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
													<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
												</tbody>
												
											</table>	
										</div>
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head"><tr><th>Usage Details</th><th></th>
													<th></th></tr></thead>
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
													<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
												</tbody>	
											</table>
										</div>
										
									
									
									
									</div>
								</div>
							</div>
							<div class="col-md-6 app_box">
								<div class="app_content">
									<div class="row app_head text-center"><h4>Application 1</h4></div>
									<div class=" row">
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head">
													<th>Package Details</th>
													<th></th>
													<th></th>
												</thead>	
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Plan</td><td>:</td><td>Premium</td></tr>
													<tr><td>Validity</td><td>:</td><td>6 months</td></tr>	
												</tbody>
												
											</table>	
										</div>
										<div class="col-xs-6">
											<table class="table table-condensed">
												<thead class="sec-head"><tr><th>Usage Details</th><th></th>
													<th></th></tr></thead>
												<tbody>
													<tr><td>Devices</td><td>:</td><td>10</td></tr>
													<tr><td>Days Remaning</td><td>:</td><td>90</td></tr>
													<tr><td>Validity till</td><td>:</td><td>30 march 2014</td></tr>
												</tbody>	
											</table>
										</div>
										
									
									
									
									</div>
								</div>
							</div>								
						</div>	
					</div>
				</div>
				<div class="col-xs-1" >
					<div class="prod-vertical-slider" ></div>
					</div>
					
				</div>			
			</div>
		</div>	
	</div>


{% endblock %}	